APP_VERSION=local
PROD_APP_VERSION=latest
NODE_ENV=development

SERVER_PORT=3000
TIMER_SERVICE_PORT=3010
CLIENT_PORT=3001

GAME_CLOCK_DURATION_MS=600000
SHOT_CLOCK_DURATION_MS=24000

DATABASE_URL=file:/data/scoreboard.db
PROD_DATABASE_URL=file:/data/scoreboard.db
TZ=Asia/Yekaterinburg
