APP_VERSION=local
PROD_APP_VERSION=latest
NODE_ENV=development

SERVER_PORT=3000
CLIENT_CONTROL_PORT=3001
CLIENT_DISPLAY_PORT=3002

DATABASE_URL=file:/data/scoreboard.db
PROD_DATABASE_URL=file:/data/scoreboard.db
TZ=Asia/Yekaterinburg
